/***
* RHD Dev: Compiled at 12:52:04 PM on 14-02-2015
***/

.hamburger {
  display: none;
}
#primary {
  width: 62.5%;
  float: right;
}
#secondary {
  width: 31.25%;
  float: left;
  margin: 0;
}
/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */
