/***
* RHD Dev: Compiled at 6:05:35 PM on 17-04-2016
***/

.ghost-button {
  width: auto;
  max-width: 100%;
  text-align: center;
  margin: 1em auto;
}
.ghost-button a,
input[type="button"] {
  padding: 0.4em 0.8em;
  color: #004b94;
  text-decoration: none;
  background-color: #fff;
  border: 3px solid #004b94;
  border-radius: 0.1em;
  display: inline-block;
  transition: all 0.2s;
}
.ghost-button a:hover,
input[type="button"]:hover,
.ghost-button a:active,
input[type="button"]:active {
  background-color: #004b94;
  color: #004b94;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-textfocus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.gallery {
  width: 100%;
  margin-bottom: 1.6em;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item img {
  max-width: 100%;
  height: auto;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-icon img {
  margin: 0 auto;
}
.gallery-caption {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
.sticky {
  position: initial;
}
html,
body {
  -webkit-font-smoothing: antialiased;
}
body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "Noto Serif" serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
}
p {
  margin-bottom: 1.6em;
}
b,
strong {
  font-weight: 700;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  border-left: 4px solid #707070;
  border-left: 4px solid rgba(51,51,51,0.7);
  color: #707070;
  color: rgba(51,51,51,0.7);
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.6667;
  margin-bottom: 1.6667em;
  padding-left: 0.7778em;
  text-indent: 0;
}
blockquote p {
  margin-bottom: 1.6667em;
}
blockquote > plast-child {
  margin-bottom: 0;
}
blockquote cite,
blockquote small {
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Noto Sans" sans-serif;
  line-height: 1.6;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}
blockquote strong,
blockquote b {
  font-weight: 400;
}
address {
  font-style: italic;
  margin: 0 0 1.6em;
}
code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre {
  background-color: transparent;
  background-color: rgba(0,0,0,0.01);
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51,51,51,0.1);
  line-height: 1.2;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51,51,51,0.1);
  cursor: help;
}
mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
hr {
  background-color: #eaeaea;
  background-color: rgba(51,51,51,0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.6em;
}
ul,
ol {
  margin: 0 0 1.6em 1.3333em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
dl {
  margin-bottom: 1.6em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.6em;
}
table,
th,
td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51,51,51,0.1);
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  width: 100%;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}
td {
  border-width: 0 1px 1px 0;
}
th td {
  padding: 0.4em;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
figure {
  margin: 0;
}
del {
  opacity: 0.8;
}
-webkit-input-placeholder {
  color: rgba(51,51,51,0.7);
  font-family: "Noto Sans" sans-serif;
}
-moz-placeholder {
  color: rgba(51,51,51,0.7);
  font-family: "Noto Sans" sans-serif;
}
-moz-placeholder {
  color: rgba(51,51,51,0.7);
  font-family: "Noto Sans" sans-serif;
  opacity: 1;
}
-ms-input-placeholder {
  color: rgba(51,51,51,0.7);
  font-family: "Noto Sans" sans-serif;
}
button,
input,
textarea {
  background-color: #f7f7f7;
  border-radius: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
button,
input {
  line-height: normal;
}
input,
textarea {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0) rgba(255,255,255,0));
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51,51,51,0.1);
  color: #707070;
  color: rgba(51,51,51,0.7);
}
inputfocus,
textareafocus {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border: 1px solid rgba(51,51,51,0.3);
  color: #333;
}
inputfocus,
selectfocus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51,51,51,0.3);
}
button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: 0.5;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: #333;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: "Noto Sans" sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7917em 1.5em;
  text-transform: uppercase;
}
buttonhover,
input[type="button"]hover,
input[type="reset"]hover,
input[type="submit"]hover,
buttonfocus,
input[type="button"]focus,
input[type="reset"]focus,
input[type="submit"]focus {
  background-color: #707070;
  background-color: rgba(51,51,51,0.7);
  outline: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]-webkit-search-cancel-button,
input[type="search"]-webkit-search-decoration {
  -webkit-appearance: none;
}
button-moz-focus-inner,
input-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.375em;
  width: 100%;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="text"]focus,
input[type="email"]focus,
input[type="url"]focus,
input[type="password"]focus,
input[type="search"]focus,
textareafocus {
  outline: 0;
}
.post-password-form {
  position: relative;
}
.post-password-form label {
  color: #707070;
  color: rgba(51,51,51,0.7);
  display: block;
  font-family: "Noto Sans" sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}
.post-password-form input[type="submit"] {
  padding: 0.7917em;
  position: absolute;
  right: 0;
  bottom: 0;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
.search-form input[type="submit"],
.widget .search-form input[type="submit"] {
  padding: 0;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.invisible {
  visibility: hidden;
  position: absolute;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.aligncenter {
  text-align: center;
}
@font-face {
  font-family: 'Gabriel Sans Cond Light';
  src: url("fonts/gabriel_sans_cond_light-webfont.eot");
  src: url("fonts/gabriel_sans_cond_light-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/gabriel_sans_cond_light-webfont.woff2") format('woff2'), url("fonts/gabriel_sans_cond_light-webfont.woff") format('woff'), url("fonts/gabriel_sans_cond_light-webfont.ttf") format('truetype'), url("fonts/gabriel_sans_cond_light-webfont.svg#gabriel_sans_cond_lightRg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gabriel Sans Cond Thin';
  src: url("fonts/gabriel_sans_cond_thin-webfont.eot");
  src: url("fonts/gabriel_sans_cond_thin-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/gabriel_sans_cond_thin-webfont.woff2") format('woff2'), url("fonts/gabriel_sans_cond_thin-webfont.woff") format('woff'), url("fonts/gabriel_sans_cond_thin-webfont.ttf") format('truetype'), url("fonts/gabriel_sans_cond_thin-webfont.svg#gabriel_sans_cond_thinregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
#navbar:before,
.blog-area #main .post:before,
.pagination:before,
.single-pagination:before,
.contact-info .social-icons:before,
.news-item .news-item-inner:before,
.single-project #main:before,
.page-id-14 .entry-content:before,
#main:before,
.clearfix:after,
#navbar:after,
.blog-area #main .post:after,
.pagination:after,
.single-pagination:after,
.contact-info .social-icons:after,
.news-item .news-item-inner:after,
.single-project #main:after,
.page-id-14 .entry-content:after,
#main:after {
  content: " ";
  display: table;
}
.clearfix:after,
#navbar:after,
.blog-area #main .post:after,
.pagination:after,
.single-pagination:after,
.contact-info .social-icons:after,
.news-item .news-item-inner:after,
.single-project #main:after,
.page-id-14 .entry-content:after,
#main:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  *,
  *before,
  *after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  avisited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]after,
  a[href^="javascript"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
img.alignleft {
  float: left;
}
img.alignright {
  float: right;
}
img.aligncenter {
  margin: 0 auto;
  display: block;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 33px;
  left: 13.5px;
  right: 13.5px;
  height: 6px;
  background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -15px;
}
.c-hamburger span::after {
  bottom: -15px;
}
.c-hamburger--rot {
  background-color: #28aadc;
}
.c-hamburger--rot span {
  transition: transform 0.3s;
}
.c-hamburger--rot.is-active {
  background-color: #1d89b3;
}
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}
.c-hamburger--htx {
  background-color: #ff3264;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active {
  background-color: #f4003c;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htla {
  background-color: #32dc64;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #20b94d;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(28.5px) translateY(3px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(28.5px) translateY(-3px) rotate(-45deg);
}
.c-hamburger--htra {
  background-color: #ff9650;
}
.c-hamburger--htra span {
  transition: transform 0.3s;
}
.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htra.is-active {
  background-color: #ff6e0d;
}
.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}
.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-6px) translateY(3px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-6px) translateY(-3px) rotate(45deg);
}
/* ==========================================================================
	Main Styles
   ========================================================================== */
html,
body {
  width: 100%;
  font-size: 16px;
  margin: 0;
  text-shadow: 0 0 1px transparent;
  color: #000;
  font-family: 'Lato', sans-serif;
}
body {
  display: block;
}
body.admin-bar #wpadminbar {
  position: fixed;
  top: 0;
}
a {
  outline: 0 !important;
}
a:link,
a:visited {
  text-decoration: none;
  color: #004b94;
}
a:hover,
a:active {
  text-decoration: underline;
}
input,
textarea {
  background-color: #d0d0d0;
  border: 2px solid #004b94;
  box-sizing: border-box;
  padding: 0.5em;
  font-family: 'Lato', sans-serif !important;
  outline: 0 !important;
  transition: all 0.25s;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #808080;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #808080;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #808080;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #808080;
}
input:focus,
textarea:focus {
  border-color: #004b94;
}
input[type="submit"] {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  transition: all 0.25s;
}
input[type="submit"]:hover {
  background-color: #808080;
}
#masthead {
  width: 100%;
  position: relative;
  z-index: 999;
  color: #fff;
}
#masthead #site-title {
  font-weight: 300;
  line-height: 1;
  transition: all 0.25s;
  text-align: left;
  margin: 0.5em 0 0.5em 0.5em;
  color: #fff;
  font-size: 10vw;
  position: relative;
}
#masthead #site-title a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s all;
}
#masthead #site-title a:hover,
#masthead #site-title a:active {
  color: #004b94;
}
#masthead #hamburger {
  margin: 0;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  transition: all 0.25s;
  z-index: 999;
}
#masthead #hamburger span {
  background-color: #fff;
  transition: all 0.25s;
}
#masthead #hamburger span:before,
#masthead #hamburger span:after {
  transition: all 0.25s;
  background-color: #fff;
}
#masthead #hamburger.is-active {
  background-color: transparent;
}
#masthead #hamburger.is-active span {
  background-color: #0069d0;
}
#masthead #hamburger.is-active span:before,
#masthead #hamburger.is-active span:after {
  background-color: #0069d0;
}
#navbar {
  background: #000;
  position: relative;
}
#site-navigation-container {
  text-align: center;
  background: rgba(0,0,0,0.4);
  overflow: hidden;
}
#site-navigation-container #site-navigation {
  list-style: none;
  padding-left: 0;
  padding: 0.5em 0 1em 0;
  margin: 0;
  text-align: center;
  line-height: 1.6;
}
#site-navigation-container #site-navigation .menu-item {
  font-weight: 300;
  font-size: 1.7em;
  transition: all 0.25s;
}
#site-navigation-container #site-navigation .menu-item.menu-item-rhd-social .rhd-social-icon {
  width: 59px;
}
#site-navigation-container #site-navigation .menu-item a {
  color: #fff;
}
#site-navigation-container #site-navigation .menu-item a:hover,
#site-navigation-container #site-navigation .menu-item a:active {
  color: #004b94;
  text-decoration: none;
}
#site-navigation-container #site-navigation .menu-item .sub-menu {
  position: absolute;
  padding-left: 0;
  line-height: 1.7;
}
#site-navigation-container #site-navigation .menu-item .sub-menu margin-top 0.2em {
  z-index: 999 !important;
}
#site-navigation-container #site-navigation .menu-item .sub-menu li {
  display: block;
  margin: 0;
}
.site-navigation li a {
  transition: color 0.25s;
}
#main {
  width: 100%;
  box-sizing: border-box;
}
.page-header-image {
  width: 100%;
  background-color: #0d0707;
}
.page-header-image img {
  width: 100%;
  height: auto;
}
#primary,
#secondary {
  width: 85%;
  max-width: 75rem;
  position: relative;
  margin: 2em auto 2em auto;
  box-sizing: border-box;
}
#colophon {
  width: 100%;
  position: relative;
  background-color: #004b94;
  color: #fff;
  padding: 1em;
  margin-top: 5em;
}
#colophon .site-info {
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 1.7;
  font-size: 0.9em;
}
#colophon .site-info a {
  color: inherit;
}
#colophon #rhd-logo-footer {
  width: 1.35em;
  height: 1.35em;
  margin: 0 0.05em;
  position: relative;
  bottom: 0.25em;
}
#colophon #footer-widget-area .widget_rhd_social_icons {
  width: 100%;
  max-width: 20rem;
  position: relative;
  margin: 0 auto 0 auto;
}
#colophon #footer-widget-area .widget_rhd_social_icons .rhd_social_icons {
  text-align: justify;
  line-height: 0;
}
#colophon #footer-widget-area .widget_rhd_social_icons .rhd_social_icons:after {
  width: 100%;
  display: inline-block;
  content: '';
}
#colophon #footer-widget-area .widget_rhd_social_icons .rhd_social_icons .rhd-social-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 2;
}
/* ==========================================================================
	Posts & Pages
   ========================================================================== */
.entry-title,
.page-title,
.widget-title {
  margin-top: 0;
  line-height: 1;
  color: #004b94;
}
.page-title {
  font-size: 1.8em;
  text-align: center;
  margin: 2em 0;
  text-transform: uppercase;
}
.entry-title {
  font-size: 1.6em;
}
.entry-content {
  width: 100%;
}
.entry-content p {
  margin: 0.75em auto;
  text-indent: 0;
  line-height: 1.4;
}
.entry-content p[style*="text-align: center"] {
  text-indent: 0;
}
.entry-content p:first-child {
  margin-top: 0;
}
.entry-content p:last-child {
  margin-bottom: 0;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  line-height: 1.1;
}
.entry-content ul {
  padding-left: 1em;
}
.entry-content img,
.entry-content iframe,
.entry-content a img {
  width: 95%;
  max-width: 75rem;
  position: relative;
  margin: 1em auto 1em auto;
}
.entry-content img,
.entry-content a img {
  height: auto;
  display: block;
}
.entry-content img.alignleft,
.entry-content a img.alignleft,
.entry-content img.alignright,
.entry-content a img.alignright {
  float: none;
}
.entry-meta p {
  margin: 0;
}
.blog-area #main .post .entry-header {
  text-align: center;
  margin-bottom: 1em;
}
.blog-area #main .post .entry-header .entry-title {
  margin: 0 0 0.25rem 0;
}
.blog-area #main .post .entry-header .entry-details {
  margin: 0;
}
.blog-area #main .post .entry-header .entry-details .sep {
  font-size: 0.8em;
}
.news-item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.news-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.news-item .post-featured-image {
  width: 50%;
  max-width: 75rem;
  position: relative;
  margin: 0.5em auto 0.5em auto;
}
.news-item .post-featured-image img {
  width: 100%;
  height: auto;
}
.pagination,
.single-pagination {
  margin: 1em auto;
  font-size: 1.1em;
}
.pagination .pag-next,
.single-pagination .pag-next,
.pagination [rel="prev"],
.single-pagination [rel="prev"] {
  float: left;
}
.pagination .pag-prev,
.single-pagination .pag-prev,
.pagination [rel="next"],
.single-pagination [rel="next"] {
  float: right;
}
/* ==========================================================================
	Comments
   ========================================================================== */
#comments {
  margin: 2em auto;
}
#comments .commentlist,
#comments .commentlist ul,
#comments .commentlist ol {
  list-style: none;
  padding-left: 0;
}
#comments .commentlist .children,
#comments .commentlist ul .children,
#comments .commentlist ol .children {
  padding: 0 1.5em;
}
#comments .commentlist .comment:last-child,
#comments .commentlist ul .comment:last-child,
#comments .commentlist ol .comment:last-child {
  padding-bottom: 1.5em;
}
#comments .even {
  background: #d0d0d0;
}
#comments .odd {
  background: #fff;
}
#comments .comment-body {
  padding: 1em;
  box-sizing: border-box;
}
#comments textarea {
  max-width: 100%;
}
#comments #commentform {
  width: 100%;
  min-width: 18rem;
  max-width: 100%;
}
#comments #commentform p {
  margin-bottom: 0.75rem;
}
#comments #commentform input,
#comments #commentform textarea {
  width: 100%;
  font-size: 0.8em;
  box-sizing: border-box;
  padding: 0.5em;
  display: inline-block;
}
#comments #commentform #submit {
  width: auto;
  padding-left: 0.8em;
  cursor: pointer;
}
#comments #commentform .comment-subscription-form {
  margin: initial;
}
/* ==========================================================================
	Ghost Buttons
   ========================================================================== */
.ghost-button {
  width: auto;
  max-width: 100%;
  text-align: center;
  margin: 1em auto;
  font-weight: 700;
}
.ghost-button a,
input[type="button"] {
  padding: 0.2em 0.65em;
  color: #fff;
  text-decoration: none;
  background-color: #004b94;
  border-radius: 0.1em;
  display: inline-block;
  transition: all 0.2s;
  border: 2px solid #004b94;
}
.ghost-button a:hover,
input[type="button"]:hover,
.ghost-button a:active,
input[type="button"]:active {
  background-color: #0069d0;
}
.pix-load-more {
  color: #004b94;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
}
.pix-load-more input {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 1.5em;
}
/* ==========================================================================
	Widget Areas & Sidebars
   ========================================================================== */
#secondary .widget {
  width: 100%;
  margin-bottom: 1.5em;
}
#secondary .widget:last-child {
  margin-bottom: 0;
}
#secondary .widget-title {
  text-align: center;
  margin-top: 0;
}
/* ==========================================================================
	Front Page
   ========================================================================== */
.front-page .news-grid {
  width: 100%;
}
.front-page .news-grid .news-grid-item {
  text-align: center;
  margin-bottom: 1em;
}
.front-page .news-grid .news-grid-item .entry-title {
  margin: 0.8em 0 0.25em;
}
.front-page .morenews {
  margin: 2em auto 0 auto;
  font-size: 1.2em;
}
/* ==========================================================================
	Projects Pages
   ========================================================================== */
.projects-grid-container .projects-grid {
  list-style: none;
  padding-left: 0;
}
.projects-grid-container .projects-grid .projects-grid-item {
  margin-bottom: 2em;
  vertical-align: top;
  color: #004b94;
}
.projects-grid-container .projects-grid .projects-grid-item:last-child {
  margin-bottom: 0;
}
.projects-grid-container .projects-grid .projects-grid-item a {
  text-decoration: none;
  color: inherit;
}
.projects-grid-container .projects-grid .projects-grid-item a:hover .project-title,
.projects-grid-container .projects-grid .projects-grid-item a:active .project-title {
  color: #004b94;
}
.projects-grid-container .projects-grid .projects-grid-item a:hover .project-thumbnail,
.projects-grid-container .projects-grid .projects-grid-item a:active .project-thumbnail {
  border-color: #004b94;
}
.projects-grid-container .projects-grid .projects-grid-item .project-thumbnail {
  width: 100%;
  border: 0.25em solid #000;
  position: relative;
  margin: 0;
  transition: border-color 0.25s;
}
.projects-grid-container .projects-grid .projects-grid-item .project-caption {
  text-align: center;
  line-height: 1.2;
}
.projects-grid-container .projects-grid .projects-grid-item .project-caption .project-title {
  margin: 0.5em 0;
  transition: color 0.25s;
}
.projects-grid-container .projects-grid .projects-grid-item .project-caption .project-details {
  font-size: 0.9em;
  color: #000;
}
.projects-grid-container .projects-grid .projects-grid-item .project-caption .project-details p {
  margin: 0;
}
.single-project .single-project-sidebar .widget-title {
  font-size: 1.4em;
}
.single-project .single-project-sidebar .widget-featured-image {
  display: none;
}
/* ==========================================================================
	Contact Page
   ========================================================================== */
.ninja-forms-cont input,
.ninja-forms-cont textarea {
  border-color: #000;
  transition: all 0.25s;
}
.ninja-forms-cont input:focus,
.ninja-forms-cont textarea:focus {
  border-color: #004b94;
}
.ninja-forms-cont input[type="submit"],
.ninja-forms-cont textarea[type="submit"] {
  width: 7em;
  display: block;
  margin: 0 auto;
}
.ninja-forms-cont input[type="submit"]:hover,
.ninja-forms-cont textarea[type="submit"]:hover {
  background-color: #004b94;
}
.ninja-forms-cont #ninja_forms_field_3_div_wrap {
  margin-bottom: 0;
}
.ninja-forms-required-items,
.ninja-forms-req-symbol {
  display: none;
}
.rhd-contact-form {
  position: relative;
  top: 0.1em;
  margin-bottom: 2em;
}
.contact-info {
  text-align: center;
}
.contact-info section {
  margin-bottom: 2.5em;
}
.contact-info h3 {
  margin-bottom: 0.25em;
}
.contact-info .social-icons {
  width: 200px;
  max-width: 75rem;
  position: relative;
  margin: 1em auto 0 auto;
}
.contact-info .social-icons img {
  width: 40%;
  height: auto;
}
/* ==========================================================================
	Media Queries
   ========================================================================== */
@media screen and (min-width: 43em) {
  #masthead #navbar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1em;
    right: 2%;
    background: none;
  }
  #masthead #site-title {
    font-size: 3em;
    text-align: right;
    margin: 0;
  }
  #site-navigation-container {
    width: 20%;
    display: block;
    position: absolute;
    top: 3em;
    right: 2%;
    overflow: visible;
    background: transparent;
  }
  #site-navigation-container #site-navigation {
    text-align: right;
    margin-top: 1.4em;
    line-height: 1.4;
  }
  #site-navigation-container #site-navigation .menu-item {
    display: block;
    font-size: 1.3em;
  }
  #site-navigation-container #site-navigation .menu-item.menu-item-rhd-social {
    display: none !important;
  }
  #site-navigation-container #site-navigation .menu-item a {
    color: #fff;
  }
  #site-navigation-container #site-navigation .menu-item a:hover,
  #site-navigation-container #site-navigation .menu-item a:active {
    color: #004b94;
  }
  #hamburger {
    display: none;
  }
  .page-header-image {
    height: 40vh;
    min-height: 276px;
    overflow: hidden;
  }
  .page-header-image img {
    width: auto;
    height: 100%;
  }
  #colophon {
    height: 5rem;
  }
  #colophon .site-info {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
  }
  #colophon .site-info a {
    color: inherit;
  }
  #colophon #footer-widget-area {
    width: 20rem;
    position: absolute;
    right: 1em;
  }
  .news-item {
    width: 100%;
    text-align: left;
  }
  .news-item .news-item-inner {
    width: 80%;
    max-width: 75rem;
    position: relative;
    margin: 0 auto 0 auto;
  }
  .news-item .post-featured-image {
    width: 35%;
    max-width: 300px;
    margin: 0;
    float: left;
  }
  .news-item .entry-content {
    width: 60%;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .news-item .entry-meta {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #comments #commentform {
    width: 75%;
  }
  #comments #commentform p {
    margin-bottom: 0.75rem;
  }
  #comments #commentform input[type="text"],
  #comments #commentform input[type="email"] {
    width: 75%;
  }
  #comments #commentform #submit {
    width: auto;
    padding-left: 0.8em;
  }
  .entry-content img,
  .entry-content iframe,
.entry-content a img {
    width: initial;
    width: initial;
    max-width: none;
    margin: initial;
  }
  .entry-content img.alignleft,
.entry-content a img.alignleft {
    margin-right: 1em;
    float: left;
  }
  .entry-content img.alignright,
.entry-content a img.alignright {
    margin-left: 1em;
    float: right;
  }
  .entry-content img.aligncenter,
.entry-content a img.aligncenter {
    margin: 0 auto;
  }
  .front-page .page-header-image,
  .page-id-8 .page-header-image {
    height: 90vh;
  }
  .front-page #masthead #site-title,
  .page-id-8 #masthead #site-title {
    font-size: 4em;
  }
  .front-page #site-navigation-container,
  .page-id-8 #site-navigation-container {
    top: 4em;
  }
  .front-page #site-navigation-container #site-navigation,
  .page-id-8 #site-navigation-container #site-navigation {
    text-align: right;
    margin-top: 1.4em;
    line-height: 1.4;
  }
  .front-page #site-navigation-container #site-navigation .menu-item,
  .page-id-8 #site-navigation-container #site-navigation .menu-item {
    display: block;
    font-size: 2.2em;
  }
  .front-page .news-grid {
    text-align: justify;
  }
  .front-page .news-grid:after {
    width: 100%;
    display: inline-block;
    content: '';
  }
  .front-page .news-grid .news-grid-item {
    width: 31%;
    display: inline-block;
    vertical-align: top;
  }
  .front-page .morenews {
    margin: 0 auto;
  }
  .page-id-8 .page-header-image {
    background: #0d0707;
  }
  .projects-grid-container .projects-grid {
    text-align: justify;
  }
  .projects-grid-container .projects-grid:after {
    width: 100%;
    display: inline-block;
    content: '';
  }
  .projects-grid-container .projects-grid .projects-grid-item {
    width: 33%;
    padding: 0 1.5%;
    display: inline-block;
  }
  .projects-grid-container .projects-grid .projects-grid-item .project-thumbnail {
    border-width: 3px;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
    transition: all 0.35s;
  }
  .projects-grid-container .projects-grid .projects-grid-item .project-thumbnail:hover,
  .projects-grid-container .projects-grid .projects-grid-item .project-thumbnail:active {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  .single-project #main {
    width: 85%;
    max-width: 75rem;
    position: relative;
    margin: 0 auto 0 auto;
  }
  .single-project #main .page-title {
    margin-top: 0;
  }
  .single-project .single-project-sidebar .widget-featured-image {
    display: block;
    border: 0.25em solid #000;
  }
  .single-project .single-project-sidebar .widget-featured-image img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .page-id-14 .page > .entry-header {
    display: none;
  }
  .page-id-14 .entry-content .rhd-contact-form {
    width: 48%;
    float: left;
  }
  .page-id-14 .entry-content .rhd-contact-form .ninja-forms-cont input[type="submit"] {
    float: left;
  }
  .page-id-14 .entry-content .contact-info {
    width: 45%;
    float: right;
  }
}
@media screen and (min-width: 50em) {
  .single-project #primary {
    width: 48%;
    float: right;
  }
  .single-project #primary .entry-content iframe {
    width: 100%;
  }
  .single-project #secondary {
    width: 320px;
    float: left;
  }
  .single-project #secondary .widget {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 58em) {
  #primary.single-project-content {
    width: 56%;
  }
}
@media screen and (min-width: 62em) {
  #primary.single-project-content {
    width: 58%;
  }
}
@media screen and (min-width: 64em) {
  #primary.single-project-content {
    width: 60%;
  }
}
@media screen and (min-width: 66em) {
  #primary.single-project-content {
    width: 62%;
  }
}
