/* ==========================================================================
	Main Styles
   ========================================================================== */
html,
body {
  width: 100%;
  font-size: 16px;
}
a {
  outline: 0 !important;
}
a {
  outline: 0 !important;
}
a:link,
a:visited {
  text-decoration: none;
}
a:link {
  color: #f00;
}
a:visited {
  color: #8b0000;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
.wrapper {
  width: 60em;
  margin: 0 auto;
  position: relative;
}
#page {
  margin: 2em 0;
}
#site-title {
  text-align: center;
  margin: 0;
}
#site-navigation-container {
  width: 100%;
  text-align: center;
}
#site-navigation {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#site-navigation li {
  display: inline-block;
  margin: 0 1em;
}
#site-navigation .menu-item a {
  text-decoration: none;
}
#site-navigation .menu-item a:link,
#site-navigation .menu-item a:visited {
  color: inherit;
}
#site-navigation .menu-item a:hover,
#site-navigation .menu-item a:active,
#site-navigation .menu-item a:focus {
  color: #f00;
}
#site-navigation .sub-menu {
  position: absolute;
  padding-left: 0;
  line-height: 1.7;
  margin-top: 0.2em;
  z-index: 999 !important;
}
#site-navigation .sub-menu li {
  display: block;
  margin: 0;
}
#main {
  padding: 2em 0;
  box-sizing: border-box;
}
#primary,
#secondary {
  width: 100%;
  margin: 2em auto;
  position: relative;
  box-sizing: border-box;
}
#colophon .site-info {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  line-height: 1.5;
}
#colophon .site-info a {
  color: inherit;
  text-decoration: none;
}
#colophon #rhd-logo-footer {
  width: 1.55em;
  height: 1.55em;
  margin: 0 0.05em;
  position: relative;
  bottom: 0.1875em;
}
/* ==========================================================================
	Text Formatting
   ========================================================================== */
.entry-title,
.page-title {
  margin-top: 0;
}
.entry-content {
  width: 100%;
}
.entry-content img {
  max-width: 100%;
}
/* ==========================================================================
	Widget Areas and Sidebars
   ========================================================================== */
#secondary .widget {
  width: 100%;
  margin-bottom: 1.5em;
}
#secondary .widget:last-child {
  margin-bottom: 0;
}
#secondary .widget-title {
  margin-top: 0;
}
/* ==========================================================================
	Gallery Styles (from Twenty Fifteen)
   ========================================================================== */
.gallery {
  margin-bottom: 1.6em;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-icon img {
  margin: 0 auto;
}
.gallery-caption {
  color: #707070;
  color: rgba(51,51,51,0.7);
  display: block;
  visibility: hidden;
  font-size: 0.75em;
  font-size: 1.2rem;
  padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
/* ==========================================================================
	Extras
   ========================================================================== */
.invisible {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
/* ==========================================================================
	Media Queries
   ========================================================================== */
