/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$yellow = #f5c419


// Classes and Functions
-wrapper( $topMargin = false, $bottomMargin = false )
	width 85%
	max-width 64em
	position relative

	if $topMargin != false and $bottomMargin != false
		margin topMargin auto bottomMargin auto
	else if $topMargin != false and $bottomMargin == false
		margin $topMargin auto
	else
		margin 0 auto


-body-shadow( $yPos )
	box-shadow 0em $yPos 0.85em 0em rgba(0,0,0,0.5)


-my-font( $fam, $style = normal, $weight = normal, $size = 1em )
	font $style $weight $size $fam, sans-serif


-border-radius( $rad )
	-webkit-border-radius $rad
	-moz-border-radius $rad
	border-radius $rad


-placeholder-props( $famVal, $colorVal)
	::-webkit-input-placeholder
		font-family $famVal
		color $colorVal
		letter-spacing 1px
	:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $colorVal
		letter-spacing 1px
	::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $colorVal
		letter-spacing 1px
	:-ms-input-placeholder
		font-family $famVal
		color $colorVal
		letter-spacing 1px