/* ==========================================================================
	Site Globals (Stylus)
   ========================================================================== */

.wrapper
	width 80%
	max-width 64em
	margin 0 auto
	position relative

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

// Fonts

someFont( size, weight = normal )
	font weight size "Some Font", cursive