/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

// Fonts

someFont( size, weight = normal )
	font weight size "Some Font", cursive