@require "_global.styl"

.hamburger
	display none

#primary
	width 62.5%
	float right


#secondary
	width 31.25%
	float left
	margin 0


/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */

