@import "_vars.styl"

.wrapper
	width: 60em


.hamburger
	display: none


#primary
	width: 37.5em
	float: right


#secondary
	width: 18.75em
	float: left
	margin: 0


/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */

@media screen and (min-width: 60em)
	.wrapper
		width: 64em

