@require "partials/_global.styl"
@require "partials/_wp-core.styl"
@require "partials/_fonts.styl"
@require "partials/_helpers.styl"
@require "partials/_defaults.styl"


/* ==========================================================================
	Main Styles
   ========================================================================== */

html
	text-shadow 0 0 1px transparent
	width 100%
	font-size 16px
	margin 0
	font-family $ff_body
	color black


body
	@extends html


a
	outline 0 !important
	transition color 0.25s

	&:link
	&:visited
		text-decoration none
		color $color1

	&:hover
	&:active
		text-decoration underline


input
textarea
	background-color $off-white
	border 2px solid black
	border-radius 0.2em
	box-sizing border-box
	padding 0.5em
	font-family $ff_body
	transition border-color 0.25s ease
	outline none

	&:focus
		border-color $color1


input[type="submit"]
	cursor pointer
	font-family inherit
	background-color black
	transition background-color 0.25s

	&:hover
		background-color $color1


#masthead
	height 80vh
	position relative

	#site-title
		width 100%
		text-align center
		margin 0 auto
		font-family $ff_cursive
		background-color $color1
		position absolute
		top 0
		color white

		a
			color inherit
			text-decoration none

			h1
				font-size 8vw
				padding 0.8em 0 0.5em
				line-height 1
				transition all 0.25s ease
				margin 0


#site-navigation-bar
	width 100%
	height 4em
	text-align center
	background $color1
	color white
	position relative
	bottom (@height)


.widget-rhd-social-icons
	position relative

	.rhd_social_icons
		display inline
		position absolute
		right 5%
		top 0.95em

		.rhd-social-icon
			width 2em
			height 2em
			margin 0

			svg
				width 100%
				height 100%


.site-navigation
	.menu-item
		font-family $ff_headline
		font-weight 700


#site-navigation-container
	display none

	#site-navigation
		-wrapper(0, 0, 95%, 70em)
		list-style none
		padding-left 0
		-flexbox()

		.menu-item
			-flexitem()
			font-size 0.85em

			&.current-menu-item
				color $color2

			a
				text-decoration none
				text-transform uppercase
				color inherit
				transition 0.25s color

				&:hover
				&:active
					color $color2

			.sub-menu
				position absolute
				padding-left 0
				line-height 1.7
				margin-top 0.2em
				z-index 999 !important

				li
					display block
					margin 0


#site-navigation-sb-container
	#site-navigation-sb
		list-style none
		font-size 2em
		line-height 1.5
		padding-left 0
		text-align center

		.menu-item
			&.current-menu-item
				a
					color $color1

			a
				color white
				text-decoration none
				text-transform uppercase
				transition color 0.25s ease

				&:hover
					color $color2

#hamburger
	background-color transparent
	position absolute
	left 0.5rem
	top 50%
	-transform(translateY(-50%))
	font-family $ff_headline
	font-size 1.2em

	span
		color white
		text-transform uppercase

		&::before
		&::after
			background-color (@background-color)

	// YES, these classes are reversed on the hamburger, deal with it
	&.top
		bottom 0.2rem

	&.bottom
		top 0.2rem


#main
	-wrapper(1em, 0)
	padding 1em 0
	box-sizing border-box


#primary
#content
	width 100%
	position relative
	box-sizing border-box


#primary
	margin-bottom 4em
	padding-bottom 1em


#colophon
	width 100%
	height 6em
	position absolute
	bottom 0
	left 0

	.site-info
		width 100%
		margin 0
		position absolute
		top 50%
		left 0
		-transform(translateY(-50%))
		text-align center
		line-height 1.7
		font-size 0.9em

		.site-info-content
			padding 1.3rem 4rem 0 4rem
			border-top 1px solid black
			display inline-block

		a
			color inherit

	#rhd-logo-footer
		width 1.35em
		height 1.35em
		margin 0 0.05em
		position relative
		bottom 0.25em


.front-page
	#masthead
		height 100vh


/* ==========================================================================
	Header Backgrounds
   ========================================================================== */

.header-bg
	width 100%
	height 100%
	position relative
	background-size cover
	background-position center


.blog
	.header-bg
		background-position 28em center


.page-id-16
	.header-bg
		background-position right 4em


.page-id-24
	.header-bg
		background-position right top


.page-id-26
	.header-bg
		background-position left center


.page-id-33
	.header-bg
		background-position -5em center

/* ==========================================================================
	Posts & Pages
   ========================================================================== */

.entry-title
.page-title
	margin-top 0
	line-height 1
	font-family $ff_headline


.page-title
	text-align center


.entry-title
	margin-bottom 0.25em


.entry-content
	-wrapper()

	p
		margin 0.5em auto

		&[style*="text-align: center"]
			text-indent 0

		&:first-child
			margin-top 0

		&:last-child
			margin-bottom 0

	h1
	h2
	h3
	h4
	h5
	h6
		line-height 1.1

	ul
		padding-left 1em

	img
		max-width 100%
		height auto

		&.alignleft
			margin-right 1em

		&.alignright
			margin-left 1em

		&.aligncenter
			display block
			margin 0 auto

	iframe
		max-width 100%
		display block
		margin 1em auto

.news-item
	text-align center
	margin 1.5em 0
	padding-bottom 1.5em
	border-bottom 1px solid black

	p
		line-height 1.3

	&:last-child
		border-bottom none
		padding-bottom 0

	.post-featured-image
		-wrapper(0.5em, 0.5em, 50%)

		img
			width 100%
			height auto


.pagination
.single-pagination
	margin 1em auto
	font-size 1.1em
	-clearfix()

	.pag-next
	[rel="prev"]
		float left

	.pag-prev
	[rel="next"]
		float right


.pix-load-more
	input
		background-color $color1
		font-family $ff_headline
		transition background-color 0.25s
		line-height 1
		border-radius 0

		&:hover
		&:active
			background-color $color2


.error404
.parent-pageid-24
	#masthead
		height 8.3em


/* ==========================================================================
	Contact Page
   ========================================================================== */

.ninja-forms-cont
	input
		&[type="submit"]
			width 7em
			display block
			float right
			margin-top 0


.ninja-forms-required-items
.ninja-forms-req-symbol
	display none


.contact-info
	text-align center

	h3
		margin-bottom 0.25em


/* ==========================================================================
	Media Queries
   ========================================================================== */

@media screen and (orientation landscape)
	#masthead
		height 90vh

		#site-title
			a
				h1
					font-size 4vw

@media screen and (min-width 40em)
	.header-bg
		background-position center

	.blog
		.header-bg
			background-position right center

	.page-id-16
		.header-bg
			background-position center

	.page-id-24
		.header-bg
			background-position center

	.page-id-31
		.header-bg
			background-position center top

	.page-id-33
		.header-bg
			background-position center

	.error404
	.parent-pageid-24
		#masthead
			height 10em

			#site-title
				background $color1

	#masthead
		#site-title
			background transparent

			h1
				font-size 4vw

			&.top
				top 2%
				bottom initial

			&.right
				text-align right

				h1
					margin-right 3%

			&.bottom
				text-align right
				top initial
				bottom 9%

			&.left
				text-align left

				h1
					margin-left 4%


			&.white
				color white

			&.black
				color black

			&.short
				margin-right 0
				text-align center
				color white
				top initial
				bottom 35%

				h1
					font-size 3rem

	#site-navigation-container
		display block

		#site-navigation
			-wrapper(0, 0, 98%)
			position relative
			top 0.6em

	#rhd-social-standalone
		display none

	.menu-item-rhd-social
		.widget-rhd-social-icons
			.rhd_social_icons
				position relative
				top 0.65em

	#hamburger
		display none

	.news-item
		width 100%
		text-align left

		.news-item-inner
			-wrapper(0, 0, 80%)
			-clearfix()

		.post-featured-image
			width 35%
			max-width 300px
			margin 0
			float left

		.entry-content
			width 60%
			float right
			position absolute
			right 0
			top 50%
			-transform(translateY(-50%))

		.entry-meta
			position absolute
			right 0
			bottom 0

	.page-id-21
		.entry-content
			-clearfix()

			.rhd-contact-form
				width 48%
				float left

			.contact-info
				width 45%
				float right

	.page-id-28
		.entry-content
			-clearfix()

			.rhd-studio-info
				width 48%
				float left

			.rhd-studio-form
				width 45%
				float right


@media screen and (min-width 50em)
	#site-navigation-container
		-wrapper(0, 0, 95%, 70em)

		#site-navigation
			top 1em

			.menu-item
				font-size 1em

			.menu-item-rhd-social
				position relative
				bottom 0.7em


@media screen and (max-width 50em)
	.page-id-24
		.entry-content
			.gallery
				.gallery-item
					max-width none
					display block