@require "partials/_global.styl"
@require "partials/_fonts.styl"
@require "partials/_helpers.styl"
@require "partials/_galleries.styl"
@require "partials/_overrides.styl"

/* ==========================================================================
	Main Styles
   ========================================================================== */

html
	text-shadow 0 0 1px transparent
	width 100%
	font-size 16px
	margin 0


body
	@extends html

	&.admin-bar
		#wpadminbar
			position fixed
			top 0


a
	outline 0 !important

	&:link
	&:visited
		text-decoration none
		color red

	&:hover
	&:active
	&:focus
		text-decoration underline


input
textarea
	background-color white
	border none
	box-sizing border-box
	padding 0.5em
	font-family inherit


input[type="submit"]
	cursor pointer
	font-family inherit
	transition all 0.25s

	&:hover
		background-color gray


#page
	margin 2em 0


#site-title
	text-align center
	margin 0


#site-navigation-container
	width 100%
	text-align center


#site-navigation
	list-style none
	padding-left 0
	margin 0

	li
		display inline-block
		margin 0 1em

		a
			text-decoration none

		a:link
		a:visited
			color inherit;

		a:hover
		a:active
		a:focus
			color red;

		.sub-menu
			position absolute
			padding-left 0
			line-height 1.7
			margin-top 0.2em
			z-index 999 !important

			li
				display block
				margin 0


#main
	wrapper 2em
	padding 2em 0
	box-sizing border-box


#primary
#secondary
	width 100%
	margin 2em auto
	position relative
	box-sizing border-box


#colophon
	width 100%
	color white

	.site-info
		margin 0
		padding 1em 0
		text-align center
		line-height 1.7
		font-size 0.9em

		a
			color inherit

	#rhd-logo-footer
		width 1.35em
		height 1.35em
		margin 0 0.05em
		position relative
		bottom 0.25em


/* ==========================================================================
	Posts & Pages
   ========================================================================== */

.entry-title
.page-title
	margin-top 0


.entry-content
	width 100%

	p
		&:first-child
			margin-top 0

		&:last-child
			margin-bottom 0

	img
		max-width 100%
		height auto

		.alignleft
			margin-left 0

		.alignright
			margin-right 0


.blog-area
	#main
		.post
			clearfix()

			.entry-header
				text-align center
				margin-bottom 1em

				.entry-title
					margin 0 0 0.25rem 0

				.entry-details
					margin 0

					.sep
						font-size 0.8em

			.entry-content
				img
					height auto

					&.alignleft
						margin 0 1em 0 0
					&.alignright
						margin-right 0 0 0 1em
					&.aligncenter
						margin 0 auto
						display block


.pagination
	margin 2em auto
	font-size 1.2em
	clearfix()

	.pag-next
		float left

	.pag-prev
		float right


/* ==========================================================================
	Comments
   ========================================================================== */

#comments
	margin 2em auto

	.commentlist
		list-style none
		padding-left 0

		ul
		ol
			@extends #comments .commentlist

		.children
			padding 0 1.5em

	.even
		background $off-white

	.odd
		background white

	.comment-body
		padding 1em
		box-sizing border-box

	textarea
		max-width 100%

	#commentform
		width 100%
		min-width 18rem

		p
			margin-bottom 0.75rem

		input
		textarea
			width 100%
			background-color $off-white
			font-size 0.8em
			border none
			box-sizing border-box
			padding 0.5em
			display block

		textarea
			margin-top 1.7rem

		#submit
			width auto
			padding-left 0.8em
			cursor pointer


/* ==========================================================================
	Widget Areas & Sidebars
   ========================================================================== */

#secondary
	.widget
		width 100%
		margin-bottom 1.5em

	.widget:last-child
		margin-bottom 0


	.widget-title
		margin-top 0


/* ==========================================================================
	Media Queries
   ========================================================================== */

@media screen and (min-width 40em)
	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
			textarea
				background-color $off-white
				font-size 0.8em
				border none
				box-sizing border-box
				padding 0.5em
				display block

			input
				&[type="text"]
				&[type="email"]
					width 75%

			textarea
				margin-top 1.7rem

			#submit
				width auto
				padding-left 0.8em
