@media screen and (min-width 40rem)
	#navbar
		height auto
		-clearfix()

		.navbar-inner
			-wrapper(0, 0, 90%)
			height auto

			.nav-dropdown
				position relative
				top 0
				display block
				background transparent
				-clearfix()
				box-shadow none

		.navbar-search
			width 20em
			height 90%
			-vcenter()
			right 0
			margin 0

			.search-form
				.search-field
					width 0
					font-size 1em
					-vhcenter()

					&.is-active
						width 100%

				.search-submit
					width 34px
					right 0
					-vcenter(absolute, -2%)

					.search-submit-icon
						width 63%

					&.is-active
						right 0

			.close-search
				right -6%
				font-size 1.1em

	#header-social
		width auto
		-vcenter()
		right 1.9em
		z-index 800
		margin-top 0

		.widget-rhd-social-icons-header
			position relative
			top 0.55em

			.rhd-social-icons
				line-height 1

				.rhd-social-icon
					height 20px
					line-height 1
					margin 0

	#logo-simple
		left 0

	#site-title
		display none

	#site-navigation-container
		width 51%
		display block
		background transparent
		position relative
		box-shadow none
		float left
		top 0.15em
		left 7em
		margin 0.5em 0

		#site-navigation
			line-height 0
			-flexbox()
			margin 0
			position relative

			.menu-item
				line-height 2
				-flexitem()
				font-size 0.875rem

	#hamburger
		display none

	#main
		-clearfix()
		margin-top $navHtDesk
		padding-top 1em

	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
				&[type="text"]
				&[type="email"]
					width 75%

			#submit
				width auto
				padding-left 0.8em

	.entry-content
		img
		iframe
			width auto
			margin 0
			max-width 100%

		img
			&.alignleft
				margin-right 1em
				float left

			&.alignright
				margin-left 1em
				float right

			&.aligncenter
				margin 0 auto

		a
			img
				@extends .entry-content img

	#colophon
		.footer-signup
			.rhd-mailchimp-container
				height 3em

				.rhd-mailchimp
					height 100%

				.rhd-mc-text
				.rhd-mc-email
				.rhd-mc-submit
					-vcenter()
					display block
					margin 0
					font-size 1em

				.rhd-mc-text
					left 0

					&:after
						content '\00a0\2192' // ' &rarr;'

				.rhd-mc-email
					width 16em
					right 9em
					margin-right 1em

					&:focus
						border-color $c_ter

				.rhd-mc-submit
					right 0
					padding-top 0.4em
					padding-bottom 0.4em


// Fixed-width 320px sidebar
@media screen and (min-width 58em)
	#primary
		width 56%
		float left

	#secondary
		width 320px
		float right

		.widget
			width 100%


@media screen and (min-width 62em)
	#primary
		width 58%


@media screen and (min-width 64em)
	#primary
		width 60%


@media screen and (min-width 66em)
	#primary
		width 64%


@media screen and (min-width 72em)
	#primary
		width 66%