@media screen and (min-width 40rem)
	body
		&.front-page
			background-size cover
	
	#masthead-large
		-wrapper(0, 0, 100%, 50rem)
	
	#site-title-large
		font-size 3.2em
		font-size 5.8vw
		margin-top 2rem
	
	#site-navigation-container
		-wrapper(0, 1em, 75%)
		display block

		#site-navigation
			line-height 0
			margin 0
			-flexbox()

			.menu-item
				line-height 2
				font-size 1.6em
				-flexitem()

	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
				&[type="text"]
				&[type="email"]
					width 75%

			#submit
				width auto
				padding-left 0.8em

	.entry-content
		img
			-unwrapper(auto)
			max-width 100%
			
			&.alignleft
				margin-right 1em
				float left

			&.alignright
				margin-left 1em
				float right

			&.aligncenter
				margin 0 auto

		iframe
			width 85%
		
		a
			img
				@extends .entry-content img
		
		.wp-post-image // thumbnails
			-wrapper(0, 0, 60%)

	// Structure
	#main
		-wrapper(0, 0, 100%)
		-clearfix()
		padding 0
	
	#primary
	#secondary
		margin 0
		top 0
		position relative

	#primary
		width 68%
		float right

	#secondary
		width 30%
		height auto
		float left
		background-color $c_sec
		color white

		.widget
			width 100%
			padding 0 10px
			margin-bottom 1.5em
		
			&.rhd-static-widget
				padding 0
		
		.secondary-page-title
			.page-title
				padding initial
				margin 2em auto
	
	#page-featured-image
		margin-bottom 0 !important
	
	#colophon
		-wrapper(2em, 2em, 75%)
		border-top 1px solid $c_text_lt
				

@media screen and (min-width 50rem)
	#site-title-large
		font-size 4em
		font-size 7.7vw