@media screen and (min-width 48rem)
	.mobile-only
		display none

	.desktop-only
		display initial

	#navbar
		border-bottom 3px solid $c_sec

		.navbar-inner
			-wrapper(0, 0, 90%)
			height auto
			-clearfix()

			.nav-dropdown
				position relative
				top 0
				display block
				background transparent
				-clearfix()

	#loginbar
		.loginbar-links
			margin-right 3rem

	.navbar-search
		width 35%

		&.is-active
			width 36.5%
			right 3em

		.search-form
			.search-submit
				right 3em

				&.is-active
					right 1em

	#site-title
		width auto
		height 120%
		position absolute
		top -37%
		left 1em
		z-index 10

	#site-navigation-container
		width 66%
		display block
		background transparent
		position relative
		padding 2.3em 0 2em
		border-bottom none
		float right

		#site-navigation
			line-height 0
			-flexbox()
			margin 0
			position relative

			.menu-item
				line-height 2
				-flexitem()
				font-size 0.8rem
				position relative

				a
					&:hover
						color $c_ter

				.sub-menu
					width 11rem
					display none
					position absolute
					top 1.7rem
					padding-left 0
					background $c_bg

				&.menu-item-has-children
					&:after
						content: " \25bc"
						font-size 0.8em

					&:hover
						.sub-menu
							display block

	#hamburger
		display none

	#main
		-clearfix()
		margin-top 0

	#primary
	#secondary
		margin-top 1em

	#primary
		width 100%
		float left
		margin-right -($sidebarW)

		&.full-width
			float none
			margin-right 0

			#content
				margin-right 0

	#content
		margin-right ($sidebarW + 2rem) // fluid #primary with added margin

	#secondary
		width $sidebarW
		float right

		.widget
			width 100%

	#colophon
		height 19em
		padding-bottom 0

		.footer-inner
			-wrapper(0, 0, 96%)
			height 100%

			& > div
				width 30%
				-vcenter()

			.site-info
				left 0
				text-align left
				font-weight 700

			.social
				-hcenter()
				bottom 0
				padding-top 0

				.widget-rhd-social-icons
					width 100%
					padding-bottom 0
					position absolute
					bottom 3em

					.footer-feather
						width 40%
						margin 0
						-hcenter(absolute, 12.4)
						top initial
						bottom 0

			.newsletter
				width 26%
				right 0

				.rhd-mc-fname
				.rhd-mc-lname
				.rhd-mc-email
					margin 0.2em auto

	.post-grid
		.post-grid-item
			width 23%

	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
				&[type="text"]
				&[type="email"]
					width 75%

			#submit
				width auto
				padding-left 0.8em

	// Image Strip
	#primary
		-clearfix()

		article
			&.strip-active
				width 65%
				float right

		#image-strip
			width 30%
			float left
			margin-right 5%

			img
				width 100%
				height auto
				margin-bottom 2em
				display block

	.entry-content
		iframe
			max-width 100%
			margin 0 auto
			display block

		img
			-unwrapper(auto)

			&.alignleft
				margin-right 1em
				float left

			&.alignright
				margin-left 1em
				float right

			&.aligncenter
				margin 0 auto

		a
			img
				@extends .entry-content img
