/* ==========================================================================
	Ghost Buttons
   ========================================================================== */

.ghost-button-container
	width auto
	max-width 100%
	text-align center
	margin-top 1em
	margin-bottom 1em

	&.gb-align-center
		margin-right auto
		margin-left auto

	&.gb-align-right
		float right

	&.gb-align-left
		float left

	.ghost-button
		padding 0.4em .8em
		color $c_text_lt
		text-decoration none
		background-color white
		border-radius 0.1em
		border 1px solid $c_text_lt
		display inline-block
		transition all 0.2s
		font-family $ff_body
		text-transform uppercase

		&:hover
		&:active
			background-color $c_text_lt
			color white
			text-decoration none

		&.filled
			color $c_bg
			background-color $c_sec
			border-color $c_sec

			&:hover
			&:active
				background-color $c_ter
				border-color $c_ter


.header-message-content
	.ghost-button
		background-color transparent
		color $c_bg
		border-color $c_bg

		&:hover
		&:active
			background-color $c_bg
			color $c_sec