/* ==========================================================================
	Ghost Buttons
   ========================================================================== */

.ghost-button-container
	width auto
	max-width 100%
	text-align center
	margin-top 1em
	margin-bottom 1em

	&.gb-align-center
		margin-right auto
		margin-left auto

	&.gb-align-right
		float right

	&.gb-align-left
		float left

	.ghost-button
		padding 0.4em .8em
		color $c_sec
		text-decoration none
		background-color $c_bg
		border 3px solid @color
		border-radius 0.1em
		display inline-block
		transition all 0.2s
		-ff-title()
		text-transform uppercase

		&:hover
		&:active
			background-color $c_sec
			color $c_bg
			text-decoration none

		&.filled
			color $c_bg
			background-color $c_sec
			border-color $c_sec

			&:hover
			&:active
				background-color $c_ter
				border-color $c_ter
