// Ghost Buttons
.ghost-button
	width auto
	max-width 100%
	text-align center
	margin 1em auto

	a
		padding 0.4em .8em
		color $c_sec
		text-decoration none
		background-color white
		border 3px solid @color
		border-radius 0.1em
		display inline-block
		transition all 0.2s
		-ff-title()
		text-transform uppercase

		&:hover
		&:active
			background-color @color
			color @background-color
			text-decoration none

		&.filled
			color white
			background-color $c_sec
			border-color $c_sec

			&:hover
			&:active
				background-color $c_ter
				border-color $c_ter
