/* ==========================================================================
	Global Variables
   ========================================================================== */

// Variables
$c_text = black
$c_sec = #FFB9B9
$c_ter = #DEF3E9

$c_bg = white

$c_text_lt = lighten($c_text, 35%)
$c_sec_lt = lighten($c_sec, 35%)
$c_ter_lt = lighten($c_ter, 35%)
$off_white = darken(white, 4%)
$near_white = darken(white, 2%)

$ff_body = 'Open Sans', sans-serif
$ff_title = 'Open Sans Condensed', sans-serif
$ff_headline = 'Tuesday Script', cursive


-ff-title()
	font-family $ff_title
	font-weight 700

-ff-headline()
	font-family $ff_headline
	font-weight normal


/* ==========================================================================
	Functions
   ========================================================================== */

-unselectable()
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


-invisible( active = true, pos = initial )
	if active == true
		visibility hidden
		position absolute
	else
		visibility visible
		position pos


-flexbox()
	text-align justify

	&:after
		width 100%
		display inline-block
		content ''

-flexitem()
	display inline-block


-wrapper( $topMargin = 0, $bottomMargin = 0, $customWidth = 85%, $customMax = 80rem )
	width $customWidth
	max-width $customMax
	position relative
	margin $topMargin auto $bottomMargin auto


-unwrapper( $w = 100% )
	width $w
	max-width none
	margin initial


-delist()
	padding-left 0
	list-style none


-clearfix()
	@extends .clearfix


-body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


-opacity( $n )
	-moz-opacity $n
	-webkit-opacity $n
	opacity $n


-transform( $n )
	-webkit-transform $n
	transform $n


-vcenter( $pos = absolute, $offset = 0 )
	position $pos
	top 50% + $offset
	-transform(translateY(-50%))


-hcenter( $pos = absolute, $offset = 0 )
	position $pos
	left 50% + $offset
	-transform(translateX(-50%))


-vhcenter( $pos = absolute, $hoffset = 0, $voffset = 0 )
	position $pos
	top 50% + $hoffset
	left 50% + $voffset
	-transform(translate(-50%, -50%))


-placeholder-props( $famVal, $color = $c_text, $opacity = 1, $weight = normal, $text_transform = normal )
	&::-webkit-input-placeholder
		font-family $famVal
		color $color
		-opacity( $opacity )
		font-weight $weight
		text-transform $text_transform

	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
		-opacity( $opacity )
		font-weight $weight
		text-transform $text_transform

	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
		-opacity( $opacity )
		font-weight $weight
		text-transform $text_transform

	&:-ms-input-placeholder
		font-family $famVal
		color $color
		opacity( $opacity )
		font-weight $weight
		text-transform $text_transform


-soliloquy( $maxHt = 500px, $id = null )
	if $id == null
		$elem = '.soliloquy-outer-container'
	else
		$base = "#soliloquy-container-"
		$elem = $base + $id

	{$elem}
		.soliloquy-slider
			img
				width auto
				max-height $maxHt
