/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$orange = #e78b59
$off-white = #e2e2e2
$gray = #565656
$gray-lt = #929292
$gray-dk = #454545
$mast-ht = 4.5em
$section-padding = 4em 0

$ff_body = 'Lato', sans-serif

// Classes

.unselectable
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


.invisible
	visibility hidden
	position absolute


// Functions

-flexbox()
	text-align justify

	&:after
		width 100%
		display inline-block
		content ''

-flexitem()
	display inline-block


-wrapper( $topMargin = false, $bottomMargin = false, $customWidth = false )
	if $customWidth == false
		$w = 70%
	else
		$w = $customWidth

	if $topMargin == false
		$topMargin = 0
	if $bottomMargin == false
		$bottomMargin = 0

	width $w
	max-width 64em
	position relative
	margin $topMargin auto $bottomMargin auto


-unwrapper()
	width 100%
	max-width none
	margin initial


-clearfix()
	@extends .clearfix


-body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


-opacity( $n )
	-moz-opacity $n
	-webkit-opacity $n
	opacity $n


-border-radius( $n )
	-webkit-border-radius $n
	-moz-border-radius $n
	border-radius $n


-transform( $n )
	-webkit-transform $n
	transform $n


-transition( $n )
	-webkit-transition $n
	transition $n


-placeholder-props( $famVal, $color, $opacity = null )
	&::-webkit-input-placeholder
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )

	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )

	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )

	&:-ms-input-placeholder
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )


/* flexbox( $mode = space-between )
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: $mode
	justify-content: $mode
*/