/* ==========================================================================
	MailChimp Defaults
   ========================================================================== */

.rhd-mailchimp-container
	background black
	color white

	.rhd-mc-text
	.rhd-mc-submit
		text-transform uppercase

	.rhd-mc-email
		font-family $ff_body
		font-size 1.1em
		border-color black
		padding 0.4em 0.375em

		&:focus
			border-color $c_ter

	.rhd-mc-submit
		color black
		display block
		margin 1em auto
		padding 0.5em 1.5em

		&:hover
		&:active
			background $c_ter
			color white

			.rhd-mc-submit
				color black
				display block
				margin 1em auto
				padding 0.5em 1.5em

				&:hover
				&:active
					background $c_ter
					color white