@media screen and (min-width 40em)
	.mobile-only
		display none

	#navbar
		height auto

		.navbar-inner
			-wrapper(0, 0, 90%)
			height auto

			.nav-dropdown
				position relative
				top 0
				display block
				background transparent
				-clearfix()

	#site-navigation-container
		width 45%
		display block
		background transparent
		position relative
		box-shadow none
		float left
		padding-bottom 0
		position relative
		top 0.15em

		#site-navigation
			line-height 0
			-flexbox()
			margin 0
			position relative

			.menu-item
				line-height 2
				-flexitem()
				font-size 1rem

	#hamburger
		display none

	#header-search
		width 36.5%
		right 0

	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
				&[type="text"]
				&[type="email"]
					width 75%

			#submit
				width auto
				padding-left 0.8em
	
	// Front Page
	.front-page
		#content
			> section
				-wrapper(2em, 2em, 100%, 70rem)
	
	// Recent Posts
	.rhd-recent-posts
		-flexbox()
		
		.recent-post
			width 31%
			-flexitem()
			vertical-align top

	// Image Strip
	#primary
		-clearfix()

		article
			&.strip-active
				width 65%
				float right

		#image-strip
			width 30%
			float left
			margin-right 5%

			img
				width 100%
				height auto
				margin-bottom 2em
				display block

	.entry-content
		img
		iframe
			width initial
			-unwrapper(initial)

		img
			margin 0 auto

			&.alignleft
				margin-right 1em
				float left

			&.alignright
				margin-left 1em
				float right

		a
			img
				@extends .entry-content img

	#header-widget-area
		width 16em
		height 90%
		right 1.5em
		-vcenter()
		display block
		z-index 800
		
		.widget_rhd_social_icons
		.rhd_social_icons
			height 100%
			
			.rhd-social-icon
				width 1.3em
				height @height
				margin 0 0.15em
				position relative
				bottom 0.025em // pixel push
				
				.rhd-icon
					-vcenter()

	.rhd-mailchimp-container
		-wrapper(0, 0, 75%)

		input
			margin 0 0.5%

		.rhd-mc-fname
		.rhd-mc-email
			width 37%
			display inline-block

		.rhd-mc-submit
			width 16%
			min-width 82px
			display inline-block


// Fixed-width 320px sidebar
@media screen and (min-width 40em)
	#main
		-clearfix()

	#primary
		float left

		&.full-width
			width 100%
			float none

	#secondary
		width 320px
		float right

		.widget
			width 100%
			padding 0 10px


@media screen and (min-width 58em)
	#primary
		width 56%


@media screen and (min-width 62em)
	#primary
		width 58%


@media screen and (min-width 64em)
	#primary
		width 60%


@media screen and (min-width 66em)
	#primary
		width 64%
