@media screen and (min-width 40em)	
	body
		&.front-page
			background-size cover
	
	#site-title-large
		font-size 3.2em
		font-size 5.8vw
		margin-top 2rem
	
	#site-navigation-container
		-wrapper(0, 1em, 75%)
		display block

		#site-navigation
			line-height 0
			margin 0
			-flexbox()

			.menu-item
				line-height 2
				font-size 1.6em
				-flexitem()

	#comments
		#commentform
			width 75%

			p
				margin-bottom 0.75rem

			input
				&[type="text"]
				&[type="email"]
					width 75%

			#submit
				width auto
				padding-left 0.8em

	.entry-content
		img
		iframe
			width initial
			-unwrapper(initial)
			max-width 100%

		img
			&.alignleft
				margin-right 1em
				float left

			&.alignright
				margin-left 1em
				float right

			&.aligncenter
				margin 0 auto

		a
			img
				@extends .entry-content img

	// Structure
	#main
		-wrapper(0, 0, 100%)
		-clearfix()
		padding 0
	
	#primary
	#secondary
		margin 0
		top 0

	#primary
		width 68%
		position absolute
		right 0

	#secondary
		width 30%
		height 100vh
		position fixed
		left 0
		background-color $c_sec
		color white

		.widget
			width 100%
			padding 0 10px
		
			&.rhd-static-widget
				padding 0
		
		.secondary-page-title
			.page-title
				padding initial
	
	#colophon-large
		width 100%
		position absolute
		bottom 1em
		margin 1em 0
		
		.site-info
			font-size 0.8em
	
	#colophon-mobile
		display none
				

@media screen and (min-width 50em)
	#site-title-large
		font-size 4em
		font-size 7.7vw
	
	#colophon-large
		font-size 0.9em
