.blog-metabar
	width 100%
	height auto
	padding 1em 0 0.75em 0
	margin-bottom 1em
	background $c_sec

	.blog-metabar-content
		-wrapper(0,0, 90%)
		list-style none
		padding-left 0

		.rhd-metabar-item
			width 100%
			display block

			.drop
			.search-submit
				width 2em
				height 2em
				background-color $c_ter
				background-position center
				background-repeat no-repeat
				color $c_text
				text-transform uppercase
				transition all 0.25s
				display inline-block
				position absolute
				top 0
				right 0
				font-weight 400
				font-size 1em

				&:hover
				&:active
					background-color $c_ter_lt

			.drop
				background-image url('../img/d-caret.png')
				background-size 50% auto

			.search-submit
				background-image url('../img/search.png')
				background-size 60% auto
				border 2px solid $c_ter

				&:hover
				&:active
					border-color $c_ter_lt

			.search-field
				-placeholder-props( $ff_body, gray, 1, 300, uppercase )
				border 2px solid $c_bg
				transition border-color 0.25s
				font-weight 300
				text-transform uppercase

				&:focus
					border-color $c_ter

			.rhd-dropdown-title
			.search-field
				width 100%
				height 2em
				padding-left 0.5em
				background white
				color gray
				position relative
				font-family $ff_body

			.rhd-dropdown-title
				margin-bottom 0.5em

				.dd-title-text
				.dd-link-text
					position relative
					top 0.25em

			.drop
				text-decoration none
				text-align center
				line-height 1.3

				.dd-link-text
					color $c_text

			.rhd-dropdown
				position relative
				text-transform uppercase

				ul
					width 100%
					height 30vh
					position absolute
					top 2em
					overflow-y auto
					background white
					padding-left 0
					margin 0
					display none
					z-index 999
					box-shadow 0 1px 2px -1px rgba(0,0,0,0.5)

					li
						width 100%
						background white
						display block

						a
							width 100%
							height auto
							display block
							color gray
							padding 0.25em 0 0.25em 0.5em
							text-decoration none
							transition all 0.2s

							&:hover
							&:active
								background-color $c_ter_lt
		.blog-search
			top	0


/* ==========================================================================
	Media Queries
   ========================================================================== */

@media screen and (min-width 40em)
	#primary
		.blog-metabar
			&.layout-wide
				background green !important
				padding 0

				.blog-metabar-content
					-wrapper()
					-flexbox()
					top 0.95em

					.rhd-metabar-item
						width 30%
						-flexitem()

					.blog-search
						position relative
						top	0.2em
